{
	"globals": {
		"window": true,
		"console": true,
		"document": true,
		"process": true,
		"XMLHttpRequest": true
	},
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"comma-dangle": ["error", "always-multiline"],
		"quotes": ["error", "double"],
		"no-var": "error",
		"no-undef": "error",
		"no-unused-vars": "warn"
	}
}
