body {
	background-color: #555;
	color: white;
	font-family: sans-serif;
}

.container {
	display: flex;

	.inputs {
	}

	svg {
		max-height: 800px;
	}
}

.tabbedPanel {
	.tabs {
		* {
			font-size: 1em;
			padding: 0em 0.5em;
			cursor: pointer;
		}

		.tabButton {
			border-radius: 5px 5px 0px 0px;
			border-color: inherit;
			background-color: #383838;
			margin-right: 1px;

			&:hover {
				background-color: #404040;
			}

			&.active {
				border-color: #444;
				background-color: #444;
				border-style: solid solid none solid;

				cursor: default;
			}
		}
	}

	.panel {
		border: 2px solid #444;
		background-color: #555;

		.zebra {
			&:nth-child(2n+1) {
				background-color: #444;
			}
		}
	}
}


.inputContainer {
	padding: 0.5em 0.5em;
	display: flex;
	align-items: center;

	label {
		display: block;
		text-transform: capitalize;
		font-size: 0.9em;
		width: 100px;
	}

	input, select {
		margin-left: 0.5em;
		width: 75px;
	}

	input {
		background-color: inherit;

		border-style: solid;
		border-width: 1px;
		border-color: transparent transparent grey transparent;

		color: inherit;
		padding: 0 0.5em;

		&:hover {
			border-color: grey;
		}

		&:focus {
			background-color: white;
			color: black;
		}

		&[type="number"] {
			text-align: right;
		}
	}

	.unit {
		font-size: 0.7em;
		color: grey;
	}
}

.templates {
	padding: 1em;

	.title {
		margin-bottom: 0.5em;
	}
}

input {
	-moz-appearance: textfield;
}
