@bgColor1: #555; //primary background
@bgColor2: #444;
@bgColor3: #383838;
@altColor1: #804040;
@altColor2: #C00000;
@fgColor1: #FFFFFF;
@fgColor2: #C0C0C0;
@fgColor3: #808080;

body {
	background-color: @bgColor1;
	color: @fgColor1;
	font-family: sans-serif;
}

.editable {
	display: flex;
}

.container {
	display: flex;

	.inputs {
	}

	svg {
		max-height: 800px;
		flex-grow: 1;
	}
}

.hoverable {
	&:not(.active):hover {
		color: @altColor1;

		select&, input&, .button& {
			color: inherit;
			background-color: @altColor1;
		}
	}
}

.clickable:extend(.hoverable all) {
	padding: 0px 0.5em;

	&:not(.active) {
		cursor: pointer;

		&.button {
			background-color: @bgColor3;
		}
	}
}

.tabbedPanel {
	.tabs {
		.realTabs {
			* {
				border-radius: 5px 5px 0px 0px;
				border-color: inherit;
				margin-right: 1px;

				&.active {
					border-color: @bgColor2;
					background-color: @bgColor2;
					border-style: solid solid none solid;

					cursor: default;
				}
			}

			.icon {
				overflow: hidden;
				text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
			}
		}
	}

	.panel {
		border: 2px solid @bgColor2;
		background-color: @bgColor1;

		.zebra {
			&:nth-child(2n+1) {
				background-color: @bgColor2;
			}
		}
	}

	.footer {
		font-style: italic;
		font-size: 0.6em;
		text-align: center;
		padding-top: 0.5em;
		color: @fgColor2;

		a:not(:hover) {
			color: @fgColor2;
			padding: 0 0.5em 0.3em 0.5em;
		}
	}
}


.inputContainer {
	padding: 0.5em 0.5em;
	display: flex;
	align-items: center;
	flex-flow: wrap;

	label {
		display: block;
		text-transform: capitalize;
		font-size: 0.9em;
		width: 100px;
	}

	input, select {
		margin-left: 0.5em;
	}

	input {
		padding: 0 0.5em;
		width: 75px;

		&:focus {
			background-color: @fgColor1;
			border-color: @altColor2;
			color: black;
		}

		&[type="number"] {
			text-align: right;
		}

		&[type="checkbox"] {
			margin-left: 1em;
			margin-right: 0.5em;
		}
	}

	.unit {
		font-size: 0.7em;
		color: @fgColor3;
	}

	.error {
		flex-basis: 100%;
		text-align: center;
		color: @altColor2;
	}
}

.templates {
	padding: 1em;
	position: relative;

	.title {
		margin-bottom: 0.5em;
		font-size: 0.7em;
	}

	.NEcorner {
		position: absolute;
		right: 1em;
		top: 1em;
	}
}

input[type="number"] {
	-moz-appearance: textfield;
	border-color: transparent transparent @fgColor3;
}

input, select {
	background-color: inherit;
	color: inherit;

	border-style: solid;
	border-width: 1px;
}
select {
	border-color: transparent transparent @fgColor3;
	min-width: 75px;
	padding-left: 1em;
	padding-right: 1em;
}

img.icon {
	display: inline-block;
}

a {
	color: @fgColor1;

	&:hover {
		color: @altColor1
	}
}
